html, body{
	position: fixed;
	padding: 0px;
	margin: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.inline{
	display: inline-block;
	vertical-align: middle;
}
.clearfix:before, .clearfix:after{
	content: '';
	display: table;
}
.clearfix:after{clear: both}
/*block*/
.block-1{
	position: relative;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	/*background-color: rgba(0, 0, 0, 0.7);*/
}
/*header*/
header{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	padding: 5px 5px;
	height: 40px;
	background-color: #3F51B5;
}
header .button{
	margin-left: 0.8em;
	margin-top: 0.75em;
	float: left; 
	text-align: center;
	padding: 2px;
	outline: none;
}
header .button span:first-child{margin-top: 0px}
header .button span{
	display: block;
	background-color: #fff;
	padding: 1px;
	margin-top: 4px;
	width: 18px;
	border-radius: 10px;
}
header .name{
	display: inline-block; 
	width: 80%; 
	text-align: center;
	padding: 2px;
	margin-top: 0.6em;
	color: #fff;
	cursor: default;
}
header .search{
	float: right; 
	text-align: right;
	padding: 2px;
	margin-top: 0.6em;
	padding: 2px;
    margin-right: 10px;
    outline: none;
}
header .search span:first-child{margin-top: 0px}
header .search span{
	display: block;
	background-color: #fff;
	margin-top: 3px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
}
/*menu*/
.color{
	background-color: #364146;
}
.color .menu{
	color: #fff;
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}
.color .menu nav ul{
	margin: 0px;
	padding: 0px;
}
.color .menu nav ul li{
	list-style-type: none;
}
.color .menu nav ul li a{
	display: block;
	padding: 15px;
	text-decoration: none;
	color: white;
}
.color .menu nav ul .active, .color .menu nav ul li a:hover{
	background-color: #3F51B5;
	border-right: 4px solid #000;
}
/*content*/
.content{
	padding: 5px 15px;
	margin-top: 50px;
	overflow-y: scroll;
}